body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
}
.input_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbfbf;
  flex-direction: column;
  margin-top: 1em;
}

.result{
  height: 300px;
  background-color: cornflowerblue;
  margin-top: 1em;
}

input[type=text]{
  margin:0.5em;
}

input[type=checkbox]{
  height: 30px;
  width: 20px;
}
input[type=submit]{
  width: 25%;
}
input[type=range]{
  width: 50%;
  margin: 1em 0px;
}

input[type=search]{
  width: 50%;
  margin: 1em 0px;
}

img {
  width: 100%;
  height: 100%;
}